spawn-sh-at-startup "vicinae server"
spawn-at-startup "noctalia"
spawn-sh-at-startup "dbus-update-activation-environment --all"
spawn-sh-at-startup "gnome-keyring-daemon --start --components=secrets"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
screenshot-path "~/Pictures/Screenshots/screenshot-%Y-%m-%d-%H-%M-%S.png"

// Apps X11
xwayland-satellite {
    path "xwayland-satellite"
}

