binds {
    Mod+D hotkey-overlay-title="Toggle dock" {
        spawn-sh "noctalia msg dock-toggle";
    }
    Mod+B hotkey-overlay-title="Toggle bar" {
        spawn-sh "noctalia msg bar-toggle";
    }
    Mod+Shift+Q hotkey-overlay-title="Powermenu" {
        spawn-sh "noctalia msg panel-toggle session";
    }
    Mod+Shift+I hotkey-overlay-title="Settings" {
        spawn-sh "noctalia msg settings-toggle";
    }
    Mod+Shift+W hotkey-overlay-title="Browser Wallpaper" {
        spawn-sh "noctalia msg panel-toggle wallpaper";
    }
    // Mod+Alt+L hotkey-overlay-title="Lock screen" {
    //     spawn-sh "qs -c noctalia-shell ipc call lockScreen lock";
    // }
    Ctrl+Shift+Escape hotkey-overlay-title="System Monitor" {
        spawn-sh "noctalia msg panel-open control-center system";
    }
    // XF86MonBrightnessUp allow-when-locked=true {
    //     spawn-sh "qs -c noctalia-shell ipc call brightness increase";
    // }
    // XF86MonBrightnessDown allow-when-locked=true {
    //     spawn-sh "qs -c noctalia-shell ipc call brightness decrease";
    // }
    F12 allow-when-locked=true {
        spawn-sh "noctalia msg volume-up";
    }
    F11 allow-when-locked=true {
        spawn-sh "noctalia msg volume-down";
    }
    F10 allow-when-locked=true {
        spawn-sh "noctalia msg volume-mute";
    }
    F9 allow-when-locked=true {
        spawn-sh "noctalia msg media next";
    }
    F8 allow-when-locked=true {
        spawn-sh "noctalia msg media toggle";
    }
    F7 allow-when-locked=true {
        spawn-sh "noctalia msg media previous";
    }
}
