layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}
layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|osd)$"
  background-effect {
    xray false
    // blur false
  }
}

// layer-rule {
//     match namespace="^noctalia-overview*"
//     place-within-backdrop true
// }
// layer-rule {
//     match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
//     background-effect {
//         xray false
//     }
// }
